---
import { GoogleFontsOptimizer } from 'astro-google-fonts-optimizer';

import MainHead from '@components/common/MainHead.astro';
import Intro from '@components/homepage/profile/Intro.astro';
import MainContent from '@components/homepage/portfolio/MainContent.svelte';
import Projects from '@components/homepage/portfolio/Projects.astro';
import Skills from '@components/homepage/portfolio/Skills.astro';
---

<html lang='en'>
  <head>
    <MainHead />
    <GoogleFontsOptimizer url='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap' />
    <style>
      body {
        display: flex;
        flex-direction: row;
      }
    </style>
  </head>
  <body>
    <Intro />
    <MainContent client:only='svelte'>
      <Projects slot='projects-tab' />
      <Skills slot='skills-tab' />
    </MainContent>
  </body>
</html>
